* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

body{
    background-color: black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}

h1 {
    color: white;
    font-size: 90px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(18) 1 alternate, blink
    800ms steps(18) infinite normal;
    border-right: 5px solid black;
}

@keyframes typewriter{
    from{
        width: 0%;
    }
    to{
        width: 55%;
    }
}

@keyframes blink {
    from{
        border-color: white;
    }
    to{
        border-color: transparent;
    }
}